@tailwind base;
@tailwind components;
@tailwind utilities;

.gf {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

body {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.imgbg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 1) 52%,
    rgba(209, 212, 209, 1) 53%
  );
}
